* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Set the background color and padding for the header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}
  
.logo span {
  font-size: 1.5em;
}
  
.social-icon img {
  width: 30px;
  height: auto;
  margin: 0 10px;
}
  
nav  ul {
  list-style-type: none;
}
nav li {
  display: inline;
  margin-right: 20px;
}
  
nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #ff0000;
}
  
  /* Add a border to the selected navigation link */
  header .selected {
    border-bottom: 2px solid #ff0000;
  }
  
  /* Make the header sticky */
  header {
    position: sticky;
    top: 0;
  }


main {
  padding: 20px;
  background-color: #fff;
} 

.hero img {
  width: 100%;
  height: auto;
}

.hero button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 1.2em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}



.card, #weather {
  background-color: #ccc;
  flex: 1 1 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}


footer {
  background-color: #333;
  color: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-left img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.footer-left p {
  margin: 0;
}
.footer-right p {
  margin: 0;
}

/* Hamburger menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.mobile-nav {
  display: block;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .card #weather {
    flex: 1 1 100%;
  }

  .hamburger-menu {
    display: flex;
  }

  nav li {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  nav li a {
    padding: 15px;
  }

  .bar.change {
    background-color: #fff;
  }

  .mobile-nav.show {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}